body {
    background-color: #2C2C2C;
    color: #44077c;
  }
  
  h1 {
    color: #837213; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  p {
    color: #a83838;font-family: sans-serif;
  }